
.about-section {
    background-color: #f8f9fa;
}

.about-section h2 {
    font-weight: bold;
}

.about-section ul {
    list-style: none;
    padding: 0;
}

.about-section ul li {
    margin-bottom: 8px;
    font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.book-btn {
    background-color: #ff7a00;   /* orange */
    color: white;
    border: none;
}

.book-btn:hover {
    background-color: #e66a00;
}
